[core]
  editor = vim
  pager = delta --dark --plus-color="#012800" --minus-color="#340001" #--theme="base16"
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  ll = log --graph --decorate --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[fetch]
  prune = true
[user]
	name = Ivan Ivanov
  email = ivantoniev@gmail.com
	signingkey = key
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[push]
	followTags = true
